.titulo{
    font-size: 100px;
    font-weight: 700;
    padding-top: 60px;
}

.titulo-producto{
    font-size: 80px;
    margin-top: 100px;
}

.titulo-box{
    height: 250px;
    padding-top: 20px;
}

/*CARRUSEL*/
.carousel-inner{
    height: 700px;
}
.carousel img{
    max-height: 700px;
    margin: 0 auto;
}

/*CARDS*/
.producto-card{
    width: 350px;
}

.card-title{
    font-size: 30px;
}
.btn-comprar{
    padding: 10px;
}

/*CHECKS*/
.contenedor-video{
    width: 100%;
}
.contenedor-info{
    margin-top: 40px;
}
.img-perfil{
    height: 200px;
}