<section class="container fondo-productos pb-5" style="margin-bottom: 20px;">

    <h3 class="text-uppercase  mt-5 fw-bold titulo-producto">Nuestra indumentaria</h3>

    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center col col-sm col-lg">

        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark prueba">
                <img src="../../../../assets/imagenes/remera-kondur-1.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a routerLink="/tienda/:id" routerLinkActive="active" class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark prueba">
                <img src="../../../../assets/imagenes/remera-kondur-2.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a routerLink="/tienda/:id" routerLinkActive="active" class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark prueba">
                <img src="../../../../assets/imagenes/remera-kondur-3.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a routerLink="/tienda/:id" routerLinkActive="active" class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark prueba">
                <img src="../../../../assets/imagenes/remera-kondur-1.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a routerLink="/tienda/:id" routerLinkActive="active" class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark prueba">
                <img src="../../../../assets/imagenes/remera-kondur-2.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a routerLink="/tienda/:id" routerLinkActive="active" class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark prueba">
                <img src="../../../../assets/imagenes/remera-kondur-3.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a routerLink="/tienda/:id" routerLinkActive="active" class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark prueba">
                <img src="../../../../assets/imagenes/remera-kondur-1.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a routerLink="/tienda/:id" routerLinkActive="active" class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark prueba">
                <img src="../../../../assets/imagenes/remera-kondur-2.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a routerLink="/tienda/:id" routerLinkActive="active" class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark prueba">
                <img src="../../../../assets/imagenes/remera-kondur-3.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a routerLink="/tienda/:id" routerLinkActive="active" class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</section>

<app-footer></app-footer>