/* CARRUSEL */
.separador {
    padding-top: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.carousel {
    height: 500px;
}

.contenedor-carrucel {
    width: 100%;
    position: relative; /* Posición relativa al contenedor del carrusel */
}

.contenedor-carrucel img {
    height: 100%;
    width: 100%;
    position: absolute; /* Posición absoluta a las imágenes */
    top: 0; /* Ajuste de posición vertical */
    left: 0; /* Ajuste de posición horizontal */
}

.contenedor-carrucel .carousel-inner {
    height: 100%;
}

.contenedor-carrucel .carousel-item {
    height: 100%;
}
