<header class="container ">
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            
            <!-- MENU OFFCANVAS -->
            <nav class="navbar navbar-dark">
                <app-menu></app-menu>    
            </nav>

            <!-- LETRAS KONDUR -->
            <img src="../../../assets/imagenes/logo-letras-kondur.png" style="width: 250px; height:auto" class="d-inline-block align-middle ms-5" alt="Letras kondur Logo">
        </div>
        <!-- LOGO DE CARRITO Y INICIO DE SESION -->
        <div class="d-flex align-items-center">
            <a href="#" class="me-3">
                <img src="../../../assets/imagenes/logo-carrito.png" style="width: 100%; height:50px" alt="carrito de compra">
            </a>
            <a class="text-decoration-none bg-black text-light btn" href="#">
                Iniciar Sesion
            </a>
        </div>
    </div>
</header>
