<header class=" bg-black">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                
                <!-- MENU OFFCANVAS -->
                <nav class="navbar navbar-dark">
                    <app-menu></app-menu>    
                </nav>

                <!-- LETRAS KONDUR -->
                <img src="../../../assets/imagenes/logo-letras-kondur-blanco.png" style="width: 250px; height:auto" class="d-inline-block align-middle ms-5" alt="Letras kondur Logo">
            </div>

            <!-- LOGO DE CARRITO Y INICIO DE SESION -->
            <div class="d-flex align-items-center">
                <a href="#" class="me-3">
                    <h1 class="text-light"><i class="bi bi-cart-dash" alt="carrito de compra"></i>
                    </h1>
                    
                    <!-- <img src="../../../../assets/imagenes/logo-carrito.png" style="width: 100%; height:50px" alt="carrito de compra"> -->
                </a>           
                <app-login></app-login>
            </div>
        </div>
    </div>
</header>
