<div class="fondo-orange">
  <div class="p-5">
    <h1 class="text-uppercase text-black fw-bold text-center pt-5">
        Administrar Checks
    </h1>
    <div class="parent mb-5 mt-2">
      <!-- MENU DE CRUDS -->
      <div class="div1 bg-black p-3 rounded">
        <div class="div2 text-center mt-4">
          <a class="text-decoration-none" routerLink="/administrador/productos" routerLinkActive="active">
            <h2 class=" border-bottom border-white">Productos</h2>
          </a>
          <a class="text-decoration-none" routerLink="/administrador/ventas" routerLinkActive="active">
            <h2 class="border-bottom border-white">Ventas</h2>
          </a>
          <a class="text-decoration-none" routerLink="/administrador/checks" routerLinkActive="active">
            <h2 class="border-bottom border-white">Checks</h2>
          </a>
          <a class="text-decoration-none" routerLink="/administrador/team" routerLinkActive="active">
            <h2 class="border-bottom border-white">Team</h2>
          </a>
        </div>
      </div>
      <!-- TABLA CRUD -->
      <div class="div6 bg-white ms-2 rounded">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <span class="titulo">LISTADO DE CHECKS</span>
                <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Agregar
                </button>
                <!-- MODAL -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <!-- FORMULARIO -->
                      <form action="" class="modal-content" [formGroup]="checkForm" (ngSubmit)="agregarCheck()">
                        <div class="modal-header">
                          <h5 class="modal-title fw-bold fs-5">Agregar Checks</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group text-start mb-3">
                                <label for="nombre">Titulo de Check:</label>
                                <input type="text" formControlName="titulo" class="form-control" id="nombre" placeholder="Ingrese el nombre del producto" required>
                              </div>
                              <div class="form-group text-start mb-3">
                                <label >Rider:</label>
                                <select formControlName="contacto" id="" class="form-select">
                                  <option value="" selected>Seleccione un corredor</option>
                                  <option value="rider1">Rider02</option>
                                  <option value="rider2">Rider03</option>
                                  <option value="rider3">Rider04</option>
                                </select>
                              </div>
                              <div class="form-group text-start mb-3">
                                <label for="descripcion">Descripción:</label>
                                <textarea class="form-control" formControlName="decripcion" id="descripcion" placeholder="Ingrese la descripción del producto" required></textarea>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group text-start mb-3">
                                <label for="imagen">Ig del filmer:</label>
                                <input type="url" formControlName="ig_filmer" class="form-control" id="imagen" placeholder="Ingrese el ig del filmer" required>
                              </div>
                              <div class="form-group text-start mb-3">
                                <label for="imagen">Url del video:</label>
                                <input type="url" class="form-control" id="imagen" placeholder="Ingrese la URL del video" required>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="resetearFormulario()" data-bs-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-primary"  >Guardar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- TABLA -->
                <table class="table table-striped mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">IG raider</th>
                        <th scope="col">Filmador</th>
                        <th scope="col">URL</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let check of listChecks">
                        <td class="align-middle">{{check.titulo}}</td>
                        <td class="align-middle"><p>@{{check.ig_filmer}}</p></td>
                        <td class="align-middle"><p>{{check.ig_rider}}</p></td>
                        <td class="align-middle ">
                            <div class="text">
                                {{check.url_video}}
                            </div>
                        </td>
                        <td class="d-flex justify-content-around">
                            <a href="">
                              <h1><i class="bi bi-pencil-fill"></i></h1>
                            </a>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <!-- PAGINADO -->
                <nav aria-label="Page navigation example" style="display:inline-block">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>