<div class="fondo-orange">
  <div class="p-5">
    <h1 class="text-uppercase text-black fw-bold text-center pt-5">
        Administrar Checks
    </h1>
    <div class="parent mb-5 mt-2">
      <!-- MENU DE CRUDS -->
      <div class="div1 bg-black p-3 rounded">
        <div class="div2 text-center mt-4">
          <a class="text-decoration-none" routerLink="/administrador/productos" routerLinkActive="active">
            <h2 class=" border-bottom border-white">Productos</h2>
          </a>
          <a class="text-decoration-none" routerLink="/administrador/ventas" routerLinkActive="active">
            <h2 class="border-bottom border-white">Ventas</h2>
          </a>
          <a class="text-decoration-none" routerLink="/administrador/checks" routerLinkActive="active">
            <h2 class="border-bottom border-white">Checks</h2>
          </a>
          <a class="text-decoration-none" routerLink="/administrador/team" routerLinkActive="active">
            <h2 class="border-bottom border-white">Team</h2>
          </a>
          <a class="text-decoration-none" routerLink="/administrador/stats" routerLinkActive="active">
            <h2 class="border-bottom border-white">Stats</h2>
          </a>
        </div>
      </div>

      <!-- TABLA CRUD -->
      <div class="div6 bg-white ms-2 rounded">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <!-- PAGINADO -->
                <div class="py-3 d-flex justify-content-between">

                  <div>
                      <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button>
                    &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguientes</button>
                  </div>

                  <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Agregar
                  </button>
                </div>

                
                <!-- MODAL -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <!-- FORMULARIO -->
                      <form action="" class="modal-content" [formGroup]="checkForm" (ngSubmit)="agregarCheck()">
                        <div class="modal-header">
                          <h5 class="modal-title fw-bold fs-5">Agregar Checks</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group text-start mb-3">
                                <label >Titulo de Check:</label>
                                <input type="text" formControlName="titulo" class="form-control" id="nombre" placeholder="Ingrese el titulo" required>
                              </div>
                              <div class="form-group text-start mb-3">
                                <label>Ig del rider:</label>
                                <input type="text" formControlName="ig_rider" class="form-control" placeholder="Ingrese el @ en Instagram" required>
                              </div>
                              <div class="form-group text-start mb-3">
                                <label>Imagen del rider:</label>
                                <input type="text" formControlName="img_rider" class="form-control" placeholder="Ingrese la URL de la imagen" required>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group text-start mb-3">
                                <label for="descripcion">Descripción:</label>
                                <textarea class="form-control" formControlName="descripcion" placeholder="Ingrese la descripción" required></textarea>
                              </div>
                              <div class="form-group text-start mb-3">
                                <label>Ig del filmer:</label>
                                <input type="text" formControlName="ig_filmer" class="form-control" placeholder="Ingrese el @ de Instagram" required>
                              </div>
                              <div class="form-group text-start mb-3">
                                <label>Url del video:</label>
                                <input type="text" formControlName="url_video" class="form-control" placeholder="Ingrese la URL del Youtube" required>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="resetearFormulario()" data-bs-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-primary"  >Guardar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- TABLA -->
                <table class="table table-striped mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">IG raider</th>
                        <th scope="col">Filmador</th>
                        <th scope="col">URL</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let check of listChecks">
                        <td class="align-middle">{{check.titulo}}</td>
                        <td class="align-middle"><p>{{check.ig_filmer}}</p></td>
                        <td class="align-middle"><p>{{check.ig_rider}}</p></td>
                        <td class="align-middle ">
                            <div class="text">
                                {{check.url_video}}
                            </div>
                        </td>
                        <td class="d-flex justify-content-around">
                            <a [routerLink]="['/administrador/checks', check._id]" routerLinkActive="active">
                              <h1><i class="bi bi-pencil-fill"></i></h1>
                            </a>
                            <a class="puntero" (click)="eliminarCheck(check._id)">
                              <h1><i class="bi bi-trash3-fill text-danger "></i></h1>
                            </a>
                        </td>
                      </tr>
                    </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>