<!-- BOTON MENU -->
<button class="navbar-toggler bg-black" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
    <span class="navbar-toggler-icon"></span>
</button>
<!-- MENU DESPLEGABLE -->
<div class="offcanvas offcanvas-start bg-black" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-light text-uppercase fw-bold" id="offcanvasDarkNavbarLabel">Kondur Skateboards</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 dropend">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Inicio</a>
            </li>
          
             <li class="nav-item">
                <a routerLink="/tienda" routerLinkActive="activebutton" role="button" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" aria-expanded="false">
                    Productos
                </a>
                <ul class="dropdown-menu bg-black">
                    <li><a href="#" class="ms-2 nav-link">Indumentaria</a></li>
                    <li><a href="#" class="ms-2 nav-link">Tablas</a></li>
                    <li><a href="#" class="ms-2 nav-link">Lijas</a></li>
                </ul>
            </li>
                       
            <li class="nav-item">
                <a class="nav-link active" routerLink="/checks" routerLinkActive="active">Checks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="btn-registrate fw-bold text-white" href="#">REGISTRATE</a>
            </li>
        </ul>
        <!-- <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </form> -->
        <br>
        <br>
        <br>
        <img class="ms-5 " src="../../../../assets/imagenes/logo-kondur.png" style="width: 200px; height:200px " alt="">
    </div>
    
</div>