<!-- BOTON MENU -->
<button class="navbar-toggler bg-black" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
    <span class="navbar-toggler-icon"></span>
</button>
<!-- MENU DESPLEGABLE -->
<div class="offcanvas offcanvas-start bg-black" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-light text-uppercase fw-bold" id="offcanvasDarkNavbarLabel">Kondur Skateboards</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <nav class="nav">
        <mat-accordion>
        <ul class=" navbar-nav justify-content-end flex-grow-1 pe-3 dropend">

            <li class="ms-1">
                <div class="list__button">
                    <h2>
                    <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Inicio</a>
                    </h2>
                </div>
            </li>

            <li>
                <div>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                               <h3>
                                    <a class="nav-link active " routerLink="/tienda" routerLinkActive="active" >Tienda</a>
                               </h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <a href="#" class="nav-link">Indumentaria</a>
                        <a href="#" class="nav-link">Tablas</a>
                        <a href="#" class="nav-link">Lijas</a>
                    </mat-expansion-panel>
                </div>
            </li>


            <li class="ms-1">
                <div class="list__button">
                    <h3>
                        <a routerLink="/checks" routerLinkActive="active" class="nav-link active">Checks</a>
                    </h3>
                </div>
            </li>

            <li class="ms-1">
                <div class="list__button">
                    <h3>
                        <a routerLink="/nosotros" routerLinkActive="active" class="nav-link active">Nosotros</a>
                    </h3>
                </div>

            </li>


            <li class="">
                <div class="list__button">
                    <a class="btn-registrate fw-bold text-white" routerLink="/signup" routerLinkActive="active">REGISTRATE</a>
                </div>
            </li>

        </ul>
    </mat-accordion>
    </nav>
    <img class="mx-auto " src="../../../../assets/imagenes/logo-kondur.png" style="width: 180px; height:180px " alt="">
    
</div>