<h2 class="text-center text-uppercase fw-bold text-black titulo-team">Nuestro team</h2>

<section class="row d-flex justify-content-center align-items-center">

        <div class="card w-75 mt-4 p-4 contenedor-info">
            <div class="row align-items-center">
                <div class="col w-50">
                    <img class="w-100" src="./img/Remeras/remera kondur 1.png" alt="">
                </div>

                <div class="col">
                    <h2 class="text-white text-uppercase">
                        Santi Niets
                    </h2>
                    <p class="text-white">
                        Los pibes saliendo a gozar una tarde de sábado por nuestro querido valle central. Paseando,
                        patinando y disfrutand las plazas de nuestra Catamarca nos encontramos con la plaza del maestro y descubriendo sus lugares para patinar y disfrutar de una buena tarde de skate y amigos.
                    </p>
                    <p class="text-white">
                        <i class="bi bi-instagram"></i>
                        @kondurskateboards
                    </p>
                    <p class="text-white">
                        <i class="bi bi-camera-video"></i>
                        Facbook
                    </p>

                </div>
            </div>


        </div>

        <div class="card w-75 mt-4 p-4 contenedor-info">
            <div class="row align-items-center">
                <div class="col w-50">
                    <img class="w-100" src="./img/Remeras/remera kondur 1.png" alt="">
                </div>

                <div class="col">
                    <h2 class="text-white text-uppercase">
                        Joaquin Saez
                    </h2>
                    <p class="text-white">
                        Los pibes saliendo a gozar una tarde de sábado por nuestro querido valle central. Paseando,
                        patinando y disfrutand las plazas de nuestra Catamarca nos encontramos con la plaza del maestro y descubriendo sus lugares para patinar y disfrutar de una buena tarde de skate y amigos.
                    </p>
                    <p class="text-white">
                        <i class="bi bi-instagram"></i>
                        @kondurskateboards
                    </p>
                    <p class="text-white">
                        <i class="bi bi-camera-video"></i>
                        Facebook
                    </p>

                </div>
            </div>


        </div>

        <div class="card w-75 mt-4 p-4 contenedor-info">
            <div class="row align-items-center">
                <div class="col w-50">
                    <img class="w-100" src="./img/Remeras/remera kondur 1.png" alt="">
                </div>

                <div class="col">
                    <h2 class="text-white text-uppercase">
                        Agustin Nose Cuanto
                    </h2>
                    <p class="text-white">
                        Los pibes saliendo a gozar una tarde de sábado por nuestro querido valle central. Paseando,
                        patinando y disfrutand las plazas de nuestra Catamarca nos encontramos con la plaza del maestro y descubriendo sus lugares para patinar y disfrutar de una buena tarde de skate y amigos.
                    </p>
                    <p class="text-white">
                        <i class="bi bi-instagram"></i>
                        @kondurskateboards
                    </p>
                    <p class="text-white">
                        <i class="bi bi-camera-video"></i>
                        Facebook
                    </p>

                </div>
            </div>


        </div>
</section>