<h2 class="text-center text-uppercase fw-bold text-black titulo-team">Nuestro team</h2>

<section class="row d-flex justify-content-center align-items-center">

    <!--Si no hay corredores-->
    <div class="alert alert-danger text-center w-50 mt-3" *ngIf="listCorredores.length === 0; else listaTeam">
        No hay corredores disponibles
    </div>

    <!--Si hay corredores-->
    <ng-template #listaTeam>
        <div class="card w-75 mt-4 p-4 contenedor-info" *ngFor="let corredor of listCorredores">
            <div class="row align-items-center">
                <div class="col w-100">
                    <img class="w-100" [src]="corredor.url_imagen" [alt]="corredor.nombre_rider">
                </div>

                <div class="col">
                    <h2 class="text-white text-uppercase">
                        {{ corredor.nombre_rider }}
                    </h2>
                    <p class="text-white">
                        {{ corredor.biografia }}
                    </p>
                    <p class="text-white">
                        <i class="bi bi-instagram"></i>
                        {{ corredor.instagram }}
                    </p>

                </div>
            </div>
        </div>
    </ng-template>

</section>