<body class="fondo-white">
    <app-header></app-header>

    <section class="container fondo-productos mb-5 ">

        <h3 class="text-uppercase text-center fw-bold titulo-producto p-5 w-25">Indumentaria</h3>

        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center col col-sm col-lg">

            <div class="col-md-4 col-sm-6">
                <div class="bg-transparent w-75 m-auto">
                    <a class="card-img-tiles" href="#" data-abc="true">
                        <div class="p-3 border border-dark">
                            <div class="caja-products">
                                <img src="img/remera kondur 1.png" alt="Shirt">
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center">
                        <h4 class="card-title">Kondur shirt white</h4>
                        <p class="fw-bold fs-2">$300</p>
                        <a class="btn btn-outline-primary btn-dark fw-bold" href="#">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="bg-transparent w-75 m-auto">
                    <a class="card-img-tiles" href="#" data-abc="true">
                        <div class="p-3 border border-dark">
                            <div class="caja-products">
                                <img src="img/remera kondur 2.png" alt="Shirt">
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center">
                        <h4 class="card-title">Kondur shirt black</h4>
                        <p class="fw-bold fs-2">$300</p>
                        <a class="btn btn-outline-primary btn-dark fw-bold" href="#">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="bg-transparent w-75 m-auto">
                    <a class="card-img-tiles" href="#" data-abc="true">
                        <div class="p-3 border border-dark">
                            <div class="caja-products">
                                <img src="img/remera kondur 3.png" alt="Shirt">
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center">
                        <h4 class="card-title">Kondur shirt white</h4>
                        <p class="fw-bold fs-2">$300</p>
                        <a class="btn btn-outline-primary btn-dark fw-bold" href="#">Ver más</a>
                    </div>
                </div>
            </div>



        </div>

        <h3 class="text-uppercase text-center fw-bold titulo-producto p-5 w-25">Tablas</h3>

        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center col col-sm col-lg">

            <div class="col-md-4 col-sm-6">
                <div class="bg-transparent w-75 m-auto">
                    <a class="card-img-tiles" href="#" data-abc="true">
                        <div class="p-3 border border-dark">
                            <div class="caja-products">
                                <img src="img/remera kondur 1.png" alt="Category">
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center">
                        <h4 class="card-title">Tabla Kondur red</h4>
                        <p class="fw-bold fs-2">$300</p>
                        <a class="btn btn-outline-primary btn-dark fw-bold" href="#">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="bg-transparent w-75 m-auto">
                    <a class="card-img-tiles" href="#" data-abc="true">
                        <div class="p-3 border border-dark">
                            <div class="caja-products">
                                <img src="img/remera kondur 1.png" alt="Category">
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center">
                        <h4 class="card-title">Tabla Kondur purple</h4>
                        <p class="fw-bold fs-2">$300</p>
                        <a class="btn btn-outline-primary btn-dark fw-bold" href="#">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="bg-transparent w-75 m-auto">
                    <a class="card-img-tiles" href="#" data-abc="true">
                        <div class="p-3 border border-dark">
                            <div class="caja-products">
                                <img src="img/remera kondur 1.png" alt="Category">
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center">
                        <h4 class="card-title">Tabla Kondur gray</h4>
                        <p class="fw-bold fs-2">$300</p>
                        <a class="btn btn-outline-primary btn-dark fw-bold" href="#">Ver más</a>
                    </div>
                </div>
            </div>



        </div>

        <h3 class="text-uppercase text-center fw-bold titulo-producto p-5 w-25">Lijas</h3>

        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center col col-sm col-lg">

            <div class="col-md-4 col-sm-6">
                <div class="bg-transparent w-75 m-auto">
                    <a class="card-img-tiles" href="#" data-abc="true">
                        <div class="p-3 border border-dark">
                            <div class="caja-products">
                                <img src="img/remera kondur 1.png" alt="Category">
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center">
                        <h4 class="card-title">Kondur shirt white</h4>
                        <p class="fw-bold fs-2">$300</p>
                        <a class="btn btn-outline-primary btn-dark fw-bold" href="#">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="bg-transparent w-75 m-auto">
                    <a class="card-img-tiles" href="#" data-abc="true">
                        <div class="p-3 border border-dark">
                            <div class="caja-products">
                                <img src="img/remera kondur 1.png" alt="Category">
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center">
                        <h4 class="card-title">Kondur shirt white</h4>
                        <p class="fw-bold fs-2">$300</p>
                        <a class="btn btn-outline-primary btn-dark fw-bold" href="#">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="bg-transparent w-75 m-auto">
                    <a class="card-img-tiles" href="#" data-abc="true">
                        <div class="p-3 border border-dark">
                            <div class="caja-products">
                                <img src="img/remera kondur 1.png" alt="Category">
                            </div>
                        </div>
                    </a>
                    <div class="card-body text-center">
                        <h4 class="card-title">Kondur shirt white</h4>
                        <p class="fw-bold fs-2">$300</p>
                        <a class="btn btn-outline-primary btn-dark fw-bold" href="#">Ver más</a>
                    </div>
                </div>
            </div>



        </div>

    </section>

    <app-footer></app-footer>

</body>