.fondo-productos{
    background-color: #f8ae6346;
    margin-top: 100px;
}
.fondo-contenido{
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
}
.contenedor-info{
    /* background-color: rgba(0, 0, 0, 0.658); */
    background-color:#f77a00;
    border-radius: 10px;
}
#producto-principal{
    height: 420px;
    width: 400px;
    border-radius: 10px;
}