<div class="fondo-white">
    <section class="container fondo-productos p-5" >
        <div class="fondo-contenido p-3">
            <!-- Breadcrumb -->
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/tienda" routerLinkActive="true" class="text-decoration-none text-light">Tienda</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#" class="text-decoration-none text-light">Remeras</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#" class="text-decoration-none text-light">{{producto.nombreProducto}}</a>
                    </li>
                </ol>
            </nav>
            <div class="row align-items-center pe-3">
                <div class="col-md-6 text-center">
                    <img id="producto-principal" class="card-img-top" src="{{producto.imagen}}" alt="..." />
                </div>
                <div class="col-md-6 contenedor-info p-3">
                    <h1 class="display-5 fw-bolder">{{producto.nombreProducto }}</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">$1500.00</span>
                        <span>${{producto.precio}}</span>
                    </div>
                    <p class="lead">{{producto.descripcion}}</p>
                    <div *ngIf="producto.categoria !== 'lijas'">
                        <!-- PENDIENTE SESSIONSTORAGE Y ALGUITOMAS -->
                        <h3>Seleccione el talle:</h3>
                        <select class="form-select form-select-sm w-50" aria-label=".form-select-sm example" [(ngModel)]="tallaSeleccionada">
                            <option selected value="0">Seleccione un talle</option>
                            <option *ngIf="producto.tallas.s > 0" value="s">S</option>
                            <option *ngIf="producto.tallas.m > 0" value="m">M</option>
                            <option *ngIf="producto.tallas.l > 0" value="l">L</option>
                            <option *ngIf="producto.tallas.xl > 0" value="xl">XL</option>
                            <option *ngIf="producto.medidas.chico > 0" value="chico">Chico</option>
                            <option *ngIf="producto.medidas.mediano > 0" value="mediano">Mediano</option>
                            <option *ngIf="producto.medidas.grande > 0" value="grande">Grande</option>
                        </select>
                    </div>
                      
                      
                    <h3 class="mt-4">Cantidad:</h3>
                    <div class="input-group mb-3 w-25">
                        <input type="number" class="form-control" aria-label="Number" min="1" aria-describedby="basic-addon1" [(ngModel)]="cantidadSeleccionada">
                    </div>
                    <div class="d-flex mt-5">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            
                            <button *ngIf="isCategoryLijas(producto)"
                                    class="btn btn-dark flex-shrink-0"
                                    (click)="agregarCarrito(producto)"
                                    type="button">
                            <i class="bi-cart-fill me-1" ></i>
                            Agregar al carrito
                            </button>
                            
                            <button *ngIf="!isCategoryLijas(producto)"
                                    class="btn btn-dark flex-shrink-0"
                                    [disabled]=" tallaSeleccionada == '0'"
                                    (click)="agregarCarrito(producto)"
                                    type="button">
                            <i class="bi-cart-fill me-1" ></i>
                            Agregar al carrito
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Productos Relacionados-->
    <section class="mb-3">
        <div class="container fondo-productos px-4 px-lg-5 mt-5 border-top border-3 border-dark">

            <h2 class="fw-bolder mb-4 mt-5">Productos relacionados</h2>

            <div id="relatedProductsCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">

                <div class="carousel-indicators">
                  <button *ngFor="let producto of productosRelacionados; let i = index"
                          type="button" data-bs-target="#relatedProductsCarousel" 
                          [attr.data-bs-slide-to]="i" [class.active]="i === 0" 
                          aria-current="true" [attr.aria-label]="'Slide ' + (i + 1)"></button>
                </div>
              
                <div class="carousel-inner">
                  <div *ngFor="let producto of productosRelacionados; let i = index" class="carousel-item" [class.active]="i === 0">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                      <div class="col mb-5">
                        <div class="card bg-dark h-100 contenedor-card">
                          <img class="card-img-top" [src]="producto.imagen" alt="...">
                          <div class="card-body text-center">
                            <p class="card-text fw-bold text-white">{{ producto.nombreProducto }}</p>
                            <p class="text-white">{{ producto.precio | currency }}</p>
                            <div class="d-flex justify-content-around">
                              <a class="btn btn-outline-warning" [routerLink]="['/tienda', producto._id]" routerLinkActive="active">Ver más</a>
                              <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
                <button class="carousel-control-prev ms-3" type="button" data-bs-target="#relatedProductsCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </button>
              
                <button class="carousel-control-next me-3" type="button" data-bs-target="#relatedProductsCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon bg-danger" aria-hidden="true"></span>
                  <span class="visually-hidden">Siguiente</span>
                </button>
              
              </div>
              

            <!-- <div id="relatedProductsCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#relatedProductsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#relatedProductsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#relatedProductsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            <div class="col mb-5">
                                <div class="card bg-dark h-100 contenedor-card">
                                    
                                    <img class="card-img-top" src="../../../assets/imagenes/remera-kondur-1.png" alt="..." />
                                    
                                    <div class="card-body text-center">
                                        <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                                        <p class="text-white">$1500.00</p>
                                        <div class="d-flex justify-content-around">
                                            <a class="btn btn-outline-warning" routerLink="/tienda/:id" routerLinkActive="active">Ver más</a>
                                            <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            <div class="col mb-5">
                                <div class="card bg-dark h-100 contenedor-card">
                                    
                                    <img class="card-img-top" src="../../../assets/imagenes/remera-kondur-1.png" alt="..." />
                                    
                                    <div class="card-body text-center">
                                        <p class="card-text fw-bold text-white">Remera Kondur Total White 2</p>
                                        <p class="text-white">$1500.00</p>
                                        <div class="d-flex justify-content-around">
                                            <a class="btn btn-outline-warning" routerLink="/tienda/:id" routerLinkActive="active">Ver más</a>
                                            <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card bg-dark h-100 contenedor-card">
                                    
                                    <img class="card-img-top" src="../../../assets/imagenes/remera-kondur-1.png" alt="..." />
                                    
                                    <div class="card-body text-center">
                                        <p class="card-text fw-bold text-white">Remera Kondur Total White 2</p>
                                        <p class="text-white">$1500.00</p>
                                        <div class="d-flex justify-content-around">
                                            <a class="btn btn-outline-warning" routerLink="/tienda/:id" routerLinkActive="active">Ver más</a>
                                            <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card bg-dark h-100 contenedor-card">
                                    
                                    <img class="card-img-top" src="../../../assets/imagenes/remera-kondur-1.png" alt="..." />
                                    
                                    <div class="card-body text-center">
                                        <p class="card-text fw-bold text-white">Remera Kondur Total White 2</p>
                                        <p class="text-white">$1500.00</p>
                                        <div class="d-flex justify-content-around">
                                            <a class="btn btn-outline-warning" routerLink="/tienda/:id" routerLinkActive="active">Ver más</a>
                                            <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card bg-dark h-100 contenedor-card">
                                    
                                    <img class="card-img-top" src="../../../assets/imagenes/remera-kondur-1.png" alt="..." />
                                    
                                    <div class="card-body text-center">
                                        <p class="card-text fw-bold text-white">Remera Kondur Total White 2</p>
                                        <p class="text-white">$1500.00</p>
                                        <div class="d-flex justify-content-around">
                                            <a class="btn btn-outline-warning" routerLink="/tienda/:id" routerLinkActive="active">Ver más</a>
                                            <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            <div class="col mb-5">
                                <div class="card bg-dark h-100 contenedor-card">
                                    
                                    <img class="card-img-top" src="../../../assets/imagenes/remera-kondur-1.png" alt="..." />
                                    
                                    <div class="card-body text-center">
                                        <p class="card-text fw-bold text-white">Remera Kondur Total White 3</p>
                                        <p class="text-white">$1500.00</p>
                                        <div class="d-flex justify-content-around">
                                            <a class="btn btn-outline-warning" routerLink="/tienda/:id" routerLinkActive="active">Ver más</a>
                                            <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card bg-dark h-100 contenedor-card">
                                    
                                    <img class="card-img-top" src="../../../assets/imagenes/remera-kondur-1.png" alt="..." />
                                    
                                    <div class="card-body text-center">
                                        <p class="card-text fw-bold text-white">Remera Kondur Total White 3</p>
                                        <p class="text-white">$1500.00</p>
                                        <div class="d-flex justify-content-around">
                                            <a class="btn btn-outline-warning" routerLink="/tienda/:id" routerLinkActive="active">Ver más</a>
                                            <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card bg-dark h-100 contenedor-card">
                                    
                                    <img class="card-img-top" src="../../../assets/imagenes/remera-kondur-1.png" alt="..." />
                                    
                                    <div class="card-body text-center">
                                        <p class="card-text fw-bold text-white">Remera Kondur Total White 3</p>
                                        <p class="text-white">$1500.00</p>
                                        <div class="d-flex justify-content-around">
                                            <a class="btn btn-outline-warning" routerLink="/tienda/:id" routerLinkActive="active">Ver más</a>
                                            <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card bg-dark h-100 contenedor-card">
                                    
                                    <img class="card-img-top" src="../../../assets/imagenes/remera-kondur-1.png" alt="..." />
                                    
                                    <div class="card-body text-center">
                                        <p class="card-text fw-bold text-white">Remera Kondur Total White 3</p>
                                        <p class="text-white">$1500.00</p>
                                        <div class="d-flex justify-content-around">
                                            <a class="btn btn-outline-warning" routerLink="/tienda/:id" routerLinkActive="active">Ver más</a>
                                            <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div> -->

        </div>
    </section>

</div>