<div class="container-fluid h-100">
    <div class="row h-100 align-items-center">
        <div class="col bg-black justify-content-center h-100 d-flex align-items-center pt-5"> 
            <img class="logo-login opacity-75" src="../../../assets/imagenes/logo-kondur.png" alt="">
        </div>
        <div class="col fondo-formulario h-100 d-flex align-items-center justify-content-center">
           <div class="shadow-lg p-5 borde-formularios">
                <h2 class="fw-bold text-center">
                    <a class="text-decoration-none text-uppercase txt-ingresar" routerLink="../login/login.component.html"routerLinkActive="active">Ingresar</a>
                    |
                    <a class="text-decoration-none text-white text-uppercase txt-registrarse" routerLink="/sesion/Register" routerLinkActive="active">Registrarse</a>
                </h2>
                <form class="form-floating" [formGroup]="registroForm" (ngSubmit)="registrarUsuario()" autocomplete="off">
                    <div class="d-flex justify-content-around">

                        <div class="me-4">

                            <!--INPUT NOMBRE-->
                            <div class="form-outline mb-3">
                                <label class="form-label text-light">Nombre</label>
                                <input 
                                    type="text" 
                                    formControlName="nombre" 
                                    class="form-control" />
                                <span
                                    *ngIf="isValidField('nombre')"
                                    class="form-text text-dark fw-bold">
                                    {{ getFieldError('nombre') }}
                                </span>
                            </div>
                           
                            <!--INPUT EMAIL-->
                            <div class="form-outline mb-3">
                                <label class="form-label text-light" for="form3Example3cg">Correo electronico</label>
                                <input 
                                    type="email" 
                                    formControlName="email" 
                                    class="form-control" />
                                <span
                                    *ngIf="isValidField('email')"
                                    class="form-text text-dark fw-bold">
                                    {{ getFieldError('email') }}
                                </span>
                            </div>

                            <!--INPUT CONTRASEÑA-->
                            <div class="form-outline mb-3">
                                <label class="form-label text-light" for="form3Example4cg">Contraseña</label>
                                <input 
                                    type="password" 
                                    formControlName="password" 
                                    class="form-control" />
                                <span
                                    *ngIf="isValidField('password')"
                                    class="form-text text-dark fw-bold">
                                    {{ getFieldError('password') }}
                                </span>
                            </div>
                            
                        </div>
                        <div>
                            <!--INPUT APELLIDO-->
                            <div class="form-outline mb-3">
                                <label class="form-label text-light">Apellido</label>
                                <input 
                                    type="text" 
                                    formControlName="apellido" 
                                    class="form-control" />
                                <span
                                    *ngIf="isValidField('apellido')"
                                    class="form-text text-dark fw-bold">
                                    {{ getFieldError('apellido') }}
                                </span>
                            </div>

                            <!--INPUT NOMBRE USUARIO-->
                            <div class="form-outline mb-3">
                                <label class="form-label text-light" for="form3Example1cg">Usuario</label>
                                <input 
                                    type="text" 
                                    formControlName="nickname" 
                                    class="form-control"/>
                                <span
                                    *ngIf="isValidField('nickname')"
                                    class="form-text text-dark fw-bold">
                                    {{ getFieldError('nickname') }}
                                </span>    
                            </div>

                            <!--REPITE CONTRASEÑA-->
                            <div class="form-outline mb-3">
                                <label class="form-label text-light" for="form3Example4cdg">Repite tu contraseña</label>
                                <input 
                                    type="password" 
                                    formControlName="repPassword" 
                                    class="form-control" />
                                <span
                                    *ngIf="isValidField('repPassword')"
                                    class="form-text text-dark fw-bold">
                                    {{ getFieldError('repPassword') }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr class="border border-4">

                    <h4 class="fs-5 fw-bold">Su dirección</h4>
                    <div class="d-flex justify-content-around">

                        <div class="me-4">
                            <div class="form-outline mb-3">
                                <label class="form-label text-light">Calle 1</label>
                                <input type="text" formControlName="calle1" class="form-control" />
                            </div>
                           
                            <div class="form-outline mb-3">
                                <label class="form-label text-light" for="form3Example3cg">Altura</label>
                                <input type="text" formControlName="altura" class="form-control" />
                            </div>
                            
                        </div>
                        <div>
                            <div class="form-outline mb-3">
                                <label class="form-label text-light">Calle 2</label>
                                <input type="text" formControlName="calle2" class="form-control" />
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label text-light" for="form3Example1cg">Código postal</label>
                                <input type="text" formControlName="codPostal" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="checkbox" id="invalidCheck" formControlName="terminos"/>
                        <label *ngIf="!isValidField('terminos')" class="form-check-label text-light" for="invalidCheck">
                            Estoy de acuerdo con todos los <a href="#!" class="text-warning"><u>Terminos y servicios</u></a>
                        </label>
                        <label *ngIf="isValidField('terminos')" class="form-check-label text-light" for="invalidCheck">
                            <span class="text-dark fw-bold">Debe estar de acuerdo con nuestros </span> <a href="#!" class="text-warning"><u>Terminos y servicios</u></a>
                        </label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-warning btn-block btn-lg gradient-custom-4 fw-bold btn-registrarse">
                            Registrarse
                        </button>  
                    </div>
                </form>
           </div>
        </div>
    </div>
</div>