body{
    min-height: 100vh;
}

.fondo-black{
    background-image: url(./assets/imagenes/fondo.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: 100% 100%;
}