.fondo{
    min-height: 100vh;
}

.fondo-black{
    background-color: #f77a00;
    background-image: url(./assets/imagenes/fondo-landing.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: 100% 20%;
    background-position: bottom;
}
.fondo-orange{
    background-color: #f77a00;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* PERMITE CAMBIAR EL COLOR DEL INDICADOR DEL MENU DESPLEGABLE EN EL PERFIL */
.mat-expansion-indicator::after {
    color: white; /* Cambia el color a tu elección */
}