body{
    min-height: 100vh;
}

.fondo-black{
    background-color: #f77a00;
    background-image: url(./assets/imagenes/fondo-landing.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: 100% 60%;
    background-position: bottom;
}