.titulo-producto{
    font-size: 50px;
    margin-top: 100px;
}
.fondo-productos{
    background-color: #f8ae6346;
    margin-top: 180px;
    margin-bottom: 80px;
}

/*Productos*/
img{
    height: 320px;
    width: 300px;
    border-radius: 10px 10px 0 0;
}
.contenedor-card{
    align-items: center;
    margin: auto;
    height: 450px;
    width: 300px;
    border: none;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}
.contenedor-card:hover{
    /* cursor: pointer; */
    box-shadow: 5px 5px 20px black;
}
.contenedor-card:hover p{
    opacity: 1;
    visibility: visible;
}