<section class="container fondo-productos pb-5" >

    <h3 class="text-uppercase text-center fw-bold titulo-producto p-5 w-25">Indumentaria</h3>

    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center col col-sm col-lg">

        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark contenedor-card">
                <img src="../../../../assets/imagenes/remera-kondur-1.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-outline-warning" routerLink="/tienda/:id" routerLinkActive="active">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark contenedor-card">
                <img src="../../../../assets/imagenes/remera-kondur-2.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark contenedor-card">
                <img src="../../../../assets/imagenes/remera-kondur-3.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <h3 class="text-uppercase text-center fw-bold titulo-producto p-5 w-25">Tablas</h3>

    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center col col-sm col-lg">

        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark contenedor-card">
                <img src="../../../../assets/imagenes/skate4.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark contenedor-card">
                <img src="../../../../assets/imagenes/skate5.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark contenedor-card">
                <img src="../../../../assets/imagenes/skate6.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <h3 class="text-uppercase text-center fw-bold titulo-producto p-5 w-25">Lijas</h3>

    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center col col-sm col-lg">

        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark contenedor-card">
                <img src="../../../../assets/imagenes/skate1.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark contenedor-card">
                <img src="../../../../assets/imagenes/skate2.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-dark contenedor-card">
                <img src="../../../../assets/imagenes/skate3.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p class="card-text fw-bold text-white">Remera Kondur Total White</p>
                    <p class="text-white">$1500.00</p>
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-outline-warning">Ver más</a>
                        <a class="btn btn-outline-light"><i class="bi bi-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div> 
    </div>

</section>