<!--CONTENEDOR NOSOTROS-->

<div class="contenedor-info d-flex justify-content-around align-items-center mt-5">

    <div class="">
        <img src="../../../assets/imagenes/logo-kondur.png" alt="Logo Kondur" class="img-fluid" style="height: 250px;">
    </div>

    <div id="carouselExampleControls" class="carousel slide w-50" style="height: 450px;" data-bs-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active ">

            <div class="container-fluid">
                <h3 class="display-6 fw-bolder text-center text-white">¿Quienes somos?</h3>

                <p class="fs-5 pt-2 text-white">
                    <span class="ms-3"></span>Kondur Skateboards es una marca de tablas de skate elaboradas con
                    guatambu Premium y resina epoxi de la mejor calidad. Somos una marca
                    originada y residente de la ciudad de San Fernando del Valle de
                    Catamarca, surgida la idea y el proyecto de esta marca en una
                    conversación entre dos amigos ( Santiago Nieto y Francisco Aguirre).
                    <br />
                    <span class="ms-3"></span>Hoy en dia llevamos cuatro años consolidándonos en el mercado local,
                    avalando a dos grandes skaters de nuestra ciudad como Santiago Nieto y
                    Joaquin Saez. Nuestra idea es representar los paisajes y la hermosa
                    cultura que podemos encontrar en la provincia de Catamarca, apostando
                    a diseñadores locales.
                </p>
            </div>
            
          </div>
          
          <div class="carousel-item">
            <h3 class="display-6 fw-bolder text-center text-white">Nuestros Objetivos</h3>

            <p class="fs-5 pt-2 text-white">
                <span class="ms-3"></span>Como objetivo principal buscamos promover el skate, tanto en
                nuestra ciudad como en el interior de la provincia y en el resto del
                país. Actualmente contamos con tres corredores pero apuntamos a
                incorporar nuevos exponentes, siempre buscando amistad y compañerismo
                en ellos.
                <br />
                <span class="ms-3"></span>Nuestra idea es ayudar a chicxs con dificultades a la hora de
                conseguir sus tablas, evitando asi que estén tiempo sin patinar y sin
                progresar.
                <br />
                <span class="ms-3"></span>Y como objetivo final es el rodaje y la publicación de video partes de
                skate, en las cuales estamos trabajando actualmente con nuestro amigo
                @cabezavideos.
            </p>
          </div>

          <div class="carousel-item">
            <h3 class="display-6 fw-bolder text-center text-white">¿Que significa Kondur?</h3>

            <p class="fs-4 pt-2 text-white">
                <span class="ms-3"></span>“Kondur” significa condor joven en el lenguaje quechua, lenguaje que
                utilizaban los aborígenes que habitaban la zona de lo que hoy en dia
                es Catamarca. Elegimos este nombre para poner en valor dicho lenguaje
                y porque nos sentimos identificados con su significado, ya que eramos
                muy jóvenes al momento de fundar la marca y estábamos “tomando vuelo”,
                como un condor.
            </p>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>