<!-- DESTACADOS -->
<div class="container text-center">
    <h2 class="text-uppercase text-black fw-bold">
        Destacados
    </h2>
</div>
<div class="contenedor-novedades text-center m-auto d-flex justify-content-around align-items-center">          
    <div>
        <img src="../../../../assets/imagenes/remera-kondur-1.png">
        <p class="text-black fw-bold">Remera Kondur</p>
        <p class="text-black fw-bold">Total White</p>
        <button class="btn btn-dark">
            Ver Más
        </button>
    </div>
    <div>
        <img src="../../../../assets/imagenes/remera-kondur-2.png">
        <p class="text-black fw-bold">Remera Kondur</p>
        <p class="text-black fw-bold">Total Black</p>
        <button class="btn btn-dark">
            Ver Más
        </button>
    </div>
    <div>
        <img src="../../../../assets/imagenes/remera-kondur-3.png">
        <p class="text-black fw-bold">Remera Kondur</p>
        <p class="text-black fw-bold">Total Gray</p>
        <button class="btn btn-dark">
            Ver Más
        </button>
    </div>  
</div>
