<div class="fondo-black fullHeight" >

    <div class="container">

        <h1 class="text-center text-uppercase">Tu carrito</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
            <tfoot>
                <div class="py-3">
                    <button type="button" class="btn btn-dark">Continuar con la compra</button>
                    <button type="button" class="btn btn-dark">Vaciar carrito</button>
                </div>
                
            </tfoot>
        </table>

    </div>

    
</div>

<app-footer></app-footer>