.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 2 / 6 / 4; }
.div2 { grid-area: 2 / 2 / 3 / 4; }
.div3 { grid-area: 3 / 2 / 4 / 4; }
.div4 { grid-area: 4 / 2 / 5 / 4; }
.div6 { grid-area: 1 / 4 / 6 / 12; }

h2 {
    color: white;
    transition: background-color .5s;
}
h2:hover {
    color: black;
    background-color: white;
}
.active h2 {
    background-color: white;
    color: black;
}

.text {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.puntero {
    cursor: pointer;
}

.card-stats {
    width: 40%;
    background-color: #f8f9fa; /* Fondo blanco */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Sombra suave */
    border: 1px solid #dee2e6; /* Borde gris claro */
    border-radius: 0.375rem; /* Bordes redondeados */
    transition: transform 0.3s; /* Animación de transformación */
}


.card-stats:hover {
    transform: translateY(-5px); /* Efecto hover */
}

.card-stats .card-header {
    background-color: #343a40; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 0.75rem 1.25rem; /* Padding */
    border-bottom: 1px solid #dee2e6; /* Borde inferior */
    border-top-left-radius: 0.375rem; /* Bordes redondeados */
    border-top-right-radius: 0.375rem; /* Bordes redondeados */
}

.card-stats .card-body {
    padding: 1.25rem; /* Padding */
}
.funte-unica{
    font-size: 2rem; /* Tamaño de fuente */

}