<div class="fondo-orange">
    <div class="p-5">
        <h1 class="text-uppercase text-black fw-bold text-center pt-5">
            Estadísticas
        </h1>
        <div class=" mb-5 mt-2">
           

            <!-- TABLA CRUD -->
            <div class="div6 bg-white ms-2 rounded">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="d-flex justify-content-around">
                                    <div class="card card-stats mb-3">
                                        <div class="card-header">Ingresos Totales</div>
                                        <div class="card-body">
                                            <p class="funte-unica">{{ ingresosTotales | currency }}</p>
                                        </div>
                                    </div>
                                    <div class="card card-stats mb-3">
                                        <div class="card-header">Total de Ventas</div>
                                        <div class="card-body">
                                            <p class="funte-unica">{{ totalVentas }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-around">
                                    <div class="card card-stats mb-3">
                                        <div class="card-header">Ventas por Mes</div>
                                        <div class="card-body">
                                            <ul>
                                                <li *ngFor="let item of ventasPorMes">
                                                    Mes {{ item._id }}: {{ item.total }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card card-stats mb-3">
                                        <div class="card-header">Productos por Categoría</div>
                                        <div class="card-body">
                                            <ul>
                                                <li *ngFor="let item of productosPorCategoria">
                                                    {{ item._id }}: {{ item.total }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-stats mb-3">
                                    <div class="card-header">Productos más Vendidos</div>
                                    <div class="card-body">
                                        <ul>
                                            <li *ngFor="let item of productosMasVendidos">
                                                {{ item._id }}: {{ item.total }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
