<div class="fondo-black fullHeight">
  <app-header></app-header>
  <div class="p-5">
    <h1 class="text-uppercase text-black fw-bold text-center pt-5">
      Mi carrito
    </h1>
    <div class="container contenedor-carrito ps-4 pe-4">
      <div class="row">
        <div class="col">
          <!-- TABLA -->
          <table class="table"> 
            <thead class="border-bottom border-dark border-3">
              <tr>
                <th scope="col"><h1>Producto</h1></th>
                <th scope="col"><h1>Precio</h1></th>
                <th scope="col"><h1>Cantidad</h1></th>
                <th scope="col"><h1>Total</h1></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle d-flex limit-width">
                  <div class="me-3">
                    <img class="img-carrito" src="../../../../assets/imagenes/skate1.png" alt=""> 
                  </div>
                  <div >
                    <h2 class="m-0">Tabla White Kondur</h2>
                  </div>
                </td>
                <td class="align-middle limit-width">
                  <div class="text">
                    <h2>$6.500</h2>
                  </div>
                </td>
                <td class="align-middle">
                  <p class="ms-5">1</p>
                </td>
                <td class="align-middle">
                  <h2>$6.500</h2>
                </td>
                <td class="aling-middle">
                  <i class="btn bi bi-trash3-fill text-danger"></i>
                </td>
              </tr>
              <tr>
                <td class="align-middle d-flex limit-width">
                  <div class="me-3">
                    <img class="img-carrito" src="../../../../assets/imagenes/skate1.png" alt=""> 
                  </div>
                  <div >
                    <h2 class="m-0">Tabla White Kondur</h2>
                  </div>
                </td>
                <td class="align-middle limit-width">
                  <div class="text">
                    <h2>$6.500</h2>
                  </div>
                </td>
                <td class="align-middle">
                  <p class="ms-5">1</p>
                </td>
                <td class="align-middle">
                  <h2>$6.500</h2>
                </td>
                <td class="aling-middle">
                  <i class="btn bi bi-trash3-fill text-danger"></i>
                </td>
              </tr>
              <tr>
                <td class="align-middle d-flex limit-width">
                  <div class="me-3">
                    <img class="img-carrito" src="../../../../assets/imagenes/skate1.png" alt=""> 
                  </div>
                  <div >
                    <h2 class="m-0">Tabla White Kondur</h2>
                  </div>
                </td>
                <td class="align-middle limit-width">
                  <div class="text">
                    <h2>$6.500</h2>
                  </div>
                </td>
                <td class="align-middle">
                  <p class="ms-5">1</p>
                </td>
                <td class="align-middle">
                  <h2>$6.500</h2>
                </td>
                <td class="aling-middle">
                  <i class="btn bi bi-trash3-fill text-danger"></i>
                </td>
              </tr>
              <tr>
                <td class="align-middle d-flex limit-width">
                  <div class="me-3">
                    <img class="img-carrito" src="../../../../assets/imagenes/skate1.png" alt=""> 
                  </div>
                  <div >
                    <h2 class="m-0">Tabla White Kondur</h2>
                  </div>
                </td>
                <td class="align-middle limit-width">
                  <div class="text">
                    <h2>$6.500</h2>
                  </div>
                </td>
                <td class="align-middle">
                  <p class="ms-5">1</p>
                </td>
                <td class="align-middle">
                  <h2>$6.500</h2>
                </td>
                <td class="aling-middle">
                  <i class="btn bi bi-trash3-fill text-danger"></i>
                </td>
              </tr>
              <tr>
                <td class="align-middle d-flex limit-width">
                  <div class="me-3">
                    <img class="img-carrito" src="../../../../assets/imagenes/skate1.png" alt=""> 
                  </div>
                  <div >
                    <h2 class="m-0">Tabla White Kondur</h2>
                  </div>
                </td>
                <td class="align-middle limit-width">
                  <div class="text">
                    <h2>$6.500</h2>
                  </div>
                </td>
                <td class="align-middle">
                  <p class="ms-5">1</p>
                </td>
                <td class="align-middle">
                  <h2>$6.500</h2>
                </td>
                <td class="aling-middle">
                  <i class="btn bi bi-trash3-fill text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- FIN TABLA -->
          <div class="border-top border-dark border-3 pt-2">
            <h2 class="float-end fw-bold text-dark">Monto total: $1000</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-flex mt-2">
      <button class="btn btn-vaciar float-start">
        Vaciar Carrito<i class="bi bi-trash3-fill text-danger"></i>
      </button>
      <button class="btn btn-continuar float-start ms-2">Continuar compra</button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
