<app-header></app-header>

<div class="fondo-orange " style="padding-bottom: 50px;">


  <h1 class="text-uppercase fs-1 text-black fw-bold text-center title-padding ">
    Mi carrito
  </h1>

  <div class="empty-message mx-auto text-center d-flex align-items-center justify-content-center " *ngIf="listaItemsCarrito?.length === 0">
    <h1 class="m-0 text-uppercase fw-bold" style="font-size: 40px;">No hay productos en el carrito</h1>
  </div>

  <div class="container-md  contenedor-carrito" *ngIf="listaItemsCarrito!.length > 0">

    
    
    <h2 class="fw-bold fs-3 text-center pt-4 pb-3"> Productos agregados </h2>

    <div class="bg-info h-75 d-flex flex-column">

      <div class="table-responsive flex-grow-1" >
        <table class="table">
          <thead class="border-bottom border-dark border-3">
            <tr>
              <th scope="col">
                <h1>Producto</h1>
              </th>
              <th scope="col">
                <h1>Precio</h1>
              </th>
              <th scope="col">
                <h1>Cantidad</h1>
              </th>
              <th scope="col">
                <h1>Total</h1>
              </th>
              <th scope="col">
                <h1>Acciones</h1>
              </th>
            </tr>
          </thead>
          <tbody id="tabla-scroll">
            <tr *ngFor="let producto of listaItemsCarrito">
              <td class="align-middle d-flex">
                <div class="me-3">
                  <img class="img-carrito" src="{{producto.imagen}}" alt="">
                </div>
                <div>
                  <h2 class="m-0">{{producto.nombreProducto}}</h2>
                </div>
              </td>
              <td class="align-middle limit-width ">
                <div class="text">
                  <h2>${{producto.precio}}</h2>
                </div>
              </td>
              <td class="align-middle limit-width">
                <h2 class="ps-4">{{producto.cantidad}}</h2>
              </td>
              <td class="align-middle">
                <h2>${{producto.precio * producto.cantidad}}</h2>
              </td>
              <td class="aling-middle text-center">
                <i class="btn bi bi-trash3-fill text-danger" (click)="eliminarProducto(producto._id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="container-md border-top border-dark border-3 pt-3">
  
        <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
          <div class="mb-3 mb-sm-0">
            <button class="btn btn-vaciar float-start" (click)="vaciarCarrito()">
              Vaciar Carrito <i class="bi bi-trash3-fill text-danger"></i>
            </button>
            <button class="btn btn-continuar float-start ms-2">Continuar compra</button>
          </div>
          <h2 class="float-end fw-bold text-dark">Monto total: ${{ montoTotal }}</h2>
        </div>
  
      </div>

    </div>
    

  </div>
  
</div>

<app-footer></app-footer>

<!-- <div class="empty-message text-center d-flex align-items-center justify-content-center "
        *ngIf="listaItemsCarrito?.length === 0">
        <h1 class="m-0 text-uppercase fw-bold">No hay productos en el carrito</h1>
      </div> -->

      <!-- TABLA
      <div class="table-responsive" *ngIf="listaItemsCarrito!.length > 0">
        <h2 class="fw-bold fs-3 text-center pb-3"> Productos agregados </h2>

        <table class="table">
          <thead class="border-bottom border-dark border-3">
            <tr>
              <th scope="col">
                <h1>Producto</h1>
              </th>
              <th scope="col">
                <h1>Precio</h1>
              </th>
              <th scope="col">
                <h1>Cantidad</h1>
              </th>
              <th scope="col">
                <h1>Total</h1>
              </th>
              <th scope="col">
                <h1>Acciones</h1>
              </th>
            </tr>
          </thead>
          <tbody id="tabla-scroll">
            <tr *ngFor="let producto of listaItemsCarrito">
              <td class="align-middle d-flex">
                <div class="me-3">
                  <img class="img-carrito" src="{{producto.imagen}}" alt="">
                </div>
                <div>
                  <h2 class="m-0">{{producto.nombreProducto}}</h2>
                </div>
              </td>
              <td class="align-middle limit-width ">
                <div class="text">
                  <h2>${{producto.precio}}</h2>
                </div>
              </td>
              <td class="align-middle limit-width">
                <h2 class="ps-4">{{producto.cantidad}}</h2>
              </td>
              <td class="align-middle">
                <h2>${{producto.precio * producto.cantidad}}</h2>
              </td>
              <td class="aling-middle text-center">
                <i class="btn bi bi-trash3-fill text-danger" (click)="eliminarProducto(producto._id)"></i>
              </td>
            </tr>
          </tbody>
        </table>

      </div> -->
      <!-- FIN TABLA -->

      <!-- <div class="container d-flex justify-content-between mt-2 border-top border-dark border-3 pt-5">
        <div>
          <button class="btn btn-vaciar float-start" (click)="vaciarCarrito()">
            Vaciar Carrito <i class="bi bi-trash3-fill text-danger"></i>
          </button>
          <button class="btn btn-continuar float-start ms-2">Continuar compra</button>
        </div>
        <h2 class="float-end fw-bold text-dark">Monto total: ${{ montoTotal }}</h2>
      </div> -->