.tabla-container{
    overflow-y: auto;
    max-height: 500px; /* Establece la altura máxima deseada */
}
.empty-message{
    display: block;
    height: 500px;
}
.contenedor-carrito{
    height: 750px;
    background: rgba(255, 255, 255, 0.623);
    border-radius: 20px;
}
th h1{
    margin: 0;
    font-weight: bold;
}
td p{
    margin: 0;
}

.btn-vaciar{
    background: black;
    color: white;
    
}
.btn-vaciar:hover{
    background: red;
    color: white;
}
.btn-continuar{
    background: black;
    color: white;
    
}
.btn-continuar:hover{
    background: green;
}

.text {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}
.img-carrito{
    width: 50px;
}
.limit-width {
    max-width: 200px; /* Puedes ajustar el valor según tus necesidades */
    
    text-overflow: ellipsis;
    white-space: nowrap;
}
.title-padding{
    padding-top: 170px;
    padding-bottom: 60px;
}

/*MEDIA QUERYS*/
@media (max-width: 576px) {
    .title-padding {
        padding-top: 160px;
        padding-bottom: 50px;
    }
}