<div class="fondo-black fullHeight">
  <h1 class="text-uppercase text-black fw-bold text-center pt-5">
    Su carrito
  </h1>
  <div class="parent mb-5 mt-2">

    <!-- TABLA CRUD -->
    <div class="div6 ms-2 rounded border-4 border border-dark">
      <div class="row">
        <div class="col">
          <!-- TABLA -->
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle">
                  <p>Los pibes maestros</p>
                </td>
                <td class="align-middle ">
                  <div class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nemo, harum numquam
                    dignissimos doloremque soluta, cumque quam tenetur nihil aliquam rerum quae. Quae laudantium
                    sequi aut veritatis adipisci molestiae possimus?
                  </div>
                </td>
                <td class="align-middle">
                  <p>@igejemplo</p>
                </td>
                <td class="align-middle">
                  <p>Santi</p>
                </td>
                <td class="align-middle">
                  <p>23/06/23</p>
                </td>
              </tr>
              <tr>
                <td class="align-middle">
                  <p>Los pibes maestros</p>
                </td>
                <td class="align-middle ">
                  <div class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nemo, harum numquam
                    dignissimos doloremque soluta, cumque quam tenetur nihil aliquam rerum quae. Quae laudantium
                    sequi aut veritatis adipisci molestiae possimus?
                  </div>
                </td>
                <td class="align-middle">
                  <p>@igejemplo</p>
                </td>
                <td class="align-middle">
                  <p>Santi</p>
                </td>
                <td class="align-middle">
                  <p>23/06/23</p>
                </td>
              </tr>
              <tr>
                <td class="align-middle">
                  <p>Los pibes maestros</p>
                </td>
                <td class="align-middle ">
                  <div class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nemo, harum numquam
                    dignissimos doloremque soluta, cumque quam tenetur nihil aliquam rerum quae. Quae laudantium
                    sequi aut veritatis adipisci molestiae possimus?
                  </div>
                </td>
                <td class="align-middle">
                  <p>@igejemplo</p>
                </td>
                <td class="align-middle">
                  <p>Santi</p>
                </td>
                <td class="align-middle">
                  <p>23/06/23</p>
                </td>
              </tr>
              <tr>
                <td class="align-middle">
                  <p>Los pibes maestros</p>
                </td>
                <td class="align-middle ">
                  <div class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nemo, harum numquam
                    dignissimos doloremque soluta, cumque quam tenetur nihil aliquam rerum quae. Quae laudantium
                    sequi aut veritatis adipisci molestiae possimus?
                  </div>
                </td>
                <td class="align-middle">
                  <p>@igejemplo</p>
                </td>
                <td class="align-middle">
                  <p>Santi</p>
                </td>
                <td class="align-middle">
                  <p>23/06/23</p>
                </td>
              </tr>
              <tr>
                <td class="align-middle">
                  <p>Los pibes maestros</p>
                </td>
                <td class="align-middle ">
                  <div class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nemo, harum numquam
                    dignissimos doloremque soluta, cumque quam tenetur nihil aliquam rerum quae. Quae laudantium
                    sequi aut veritatis adipisci molestiae possimus?
                  </div>
                </td>
                <td class="align-middle">
                  <p>@igejemplo</p>
                </td>
                <td class="align-middle">
                  <p>Santi</p>
                </td>
                <td class="align-middle">
                  <p>23/06/23</p>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- FIN TABLA -->
          <h2 class="float-end text-dark">Monto total: $1000</h2>
          <button class="btn btn-dark float-start">
            Vaciar Carrito<i class="bi bi-trash3-fill text-danger"></i>
          </button>
          <button class="btn btn-success float-start ms-2">Continuar compra</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
