/* NOVEDADES HOME */
/* .contenedor-novedades{
    max-width: 950px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.192);
}
.contenedor-novedades img{
    height: 250px;
    width: 250px;
}
.contenedor-novedades p{
    margin-bottom: 0;
} */

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.parent .imagen{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.parent .imagen img{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-out;
}

.parent .imagen .texto-img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000094;
    transition: all 0.5s ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.texto-img h1{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: white;
    margin-bottom: 1rem;
}

.parent .imagen:hover > .texto-img{
    opacity: 1;
    visibility: visible;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }