<!-- DESTACADOS -->
<!-- <div class="container text-center">
    <h2 class="text-uppercase text-black fw-bold">
        Productos Destacados
    </h2>
</div> -->
<!-- <div class="contenedor-novedades text-center m-auto d-flex justify-content-around align-items-center">          
    <div>
        <img src="../../../../assets/imagenes/remera-kondur-1.png">
        <p class="text-black fw-bold">Remera Kondur</p>
        <p class="text-black fw-bold">Total White</p>
        <a>
            <button class="btn btn-dark" routerLink="/producto" routerLinkActive="active">
                Ver Más
            </button>
        </a>
    </div>
    <div>
        <img src="../../../../assets/imagenes/remera-kondur-2.png">
        <p class="text-black fw-bold">Remera Kondur</p>
        <p class="text-black fw-bold">Total Black</p>
        <a>
            <button class="btn btn-dark" routerLink="/producto" routerLinkActive="active">
                Ver Más
            </button>
        </a>
    </div>
    <div>
        <img src="../../../../assets/imagenes/remera-kondur-3.png">
        <p class="text-black fw-bold">Remera Kondur</p>
        <p class="text-black fw-bold">Total Gray</p>
        <a>
            <button class="btn btn-dark" routerLink="/producto" routerLinkActive="active">
                Ver Más
            </button>
        </a>
    </div>  
</div> -->

<div class="parent container">
    <a class="div1 imagen" routerLink="/tienda/tablas" routerLinkActive="active">
        <img src="../../../../assets/imagenes/tabla-para-landing.jfif">
        <div class="texto-img d-flex align-items-center justify-content-center">
            <h1>tablas</h1>
        </div>
    </a>
    <a class="div2 imagen" routerLink="/tienda/lijas" routerLinkActive="active">
        <img src="../../../../assets/imagenes/diseno-lija-skate-.jpg">
        <div class="texto-img d-flex align-items-center justify-content-center">
            <h1>lijas</h1>
        </div>
    </a>
    <a class="div3 imagen" routerLink="/tienda/indumentaria" routerLinkActive="active">
        <img src="../../../../assets/imagenes/remera-kondur-1.png">
        <div class="texto-img d-flex align-items-center justify-content-center">
            <h1>indumentaria</h1>
        </div>
    </a>
    <a class="div4 imagen" routerLink="/checks" routerLinkActive="active">
        <img src="../../../../assets/imagenes/imagen-para-videos-kondur.jpg">
        <div class="texto-img d-flex align-items-center justify-content-center">
            <h1>kondur</h1>
        </div>
    </a>
</div>