.fondo-productos{
    background-color: #f8ae6346;
    margin-top: 100px;
}
.fondo-contenido{
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
}
.contenedor-info{
    /* background-color: rgba(0, 0, 0, 0.658); */
    background-color:#ffffff;
    border-radius: 10px;
}
#producto-principal{
    height: 420px;
    width: 400px;
    border-radius: 10px;
}
.contenedor-card{
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}
.contenedor-card img{
    height: 250px;
    border-radius: 10px 10px 0 0;
}
.contenedor-card:hover{
    /* cursor: pointer; */
    box-shadow: 5px 5px 20px black;
}
.contenedor-card:hover p{
    opacity: 1;
    visibility: visible;
}

/* IMGAEN TABLA */

.img-producto img{
    /* max-width: 3.5rem; */
    max-height: 4rem;
    margin-right: 1rem;
}
.inputsTallesMedidas{
    width: 100px;
}

.btn-back{
    color: black;
    font-size: 2rem;
}
.btn-back:hover{
    color: rgb(136, 130, 130);
}