<div class="fondo-white">
  <section class="container fondo-productos p-5">
    <div class="fondo-contenido p-3">
      <div class="row align-items-center pe-3">
        <div class="col-md-6 text-center image-container">
          <img id="producto-principal" class="card-img-top zoomable-image" src='{{productoActual.imagen}}' border='0'
            alt='{{productoActual.nombreProducto}}' />
          <!-- <img id="productoActual-principal" class="card-img-top" src="../../../assets/imagenes/remera-kondur-1.png" alt="..." /> -->
        </div>
        <div class="col-md-6 contenedor-info p-3" *ngIf="productoActual">
          <h1 class="display-5 fw-bolder">{{productoActual.nombreProducto}}</h1>
          <div class="fs-5 mb-5">
            <span>{{productoActual.precio | currency}}</span>
          </div>
          <p class="lead">{{productoActual.descripcion}}</p>
          <h3>Seleccione el talle:</h3>
          <select class="form-select form-select-sm w-50" aria-label=".form-select-sm example">
            <option value="0">Seleccione un talle</option>
            <option value="1">S</option>
            <option value="2">M</option>
            <option value="3">L</option>
            <option value="4">XL</option>
            <option value="5">XLL</option>
          </select>
          <h3 class="mt-4">Cantidad:</h3>
          <div class="input-group mb-3 w-25">
            <input type="number" class="form-control" aria-label="Number" aria-describedby="basic-addon1" value="1">
          </div>
        </div>
      </div>
    </div>
    <!-- FORNMULARIO PARA EDITAR -->
    <div class="mt-4 fondo-contenido p-3 text-white">
      <form [formGroup]="productoForm" (ngSubmit)="editarProducto()" class="modal-content">
        <div class="modal-header">
          <h5 class="fs-5">Editar Producto</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group text-start mb-3 has-validation">
                <label for="nombre">Nombre del Producto:</label>
                <!-- Logica de validacion input vacio -->
                <input formControlName="nombreProducto" type="text" class="form-control" required>
                <div class="invalid-feedback">
                  El nombre del producto <strong>es obligatorio.</strong>
                </div>
              </div>

              <div class="form-group text-start mb-3 has-validation">
                <label for="imagen">Imagen del Producto:</label>
                <!-- Logica de validacion input vacio -->
                <input formControlName="imagen" type="url" class="form-control" id="imagen"
                  placeholder="Ingrese la URL de la imagen" required>
                <div class="invalid-feedback">
                  La imagen del producto <strong>es obligatorio.</strong>
                </div>
              </div>

              <div class="form-group text-start mb-3 has-validation">
                <label for="descripcion">Descripción del Producto:</label>
                <!-- Logica de validacion input vacio -->
                <textarea formControlName="descripcion" class="form-control" id="descripcion"
                  placeholder="Ingrese la descripción del producto" required>
                        </textarea>
                <div class="invalid-feedback">
                  La descripción del producto <strong>es obligatorio.</strong>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group text-start mb-3 has-validation">
                <label for="precio">Precio:</label>
                <!-- Logica de validacion input vacio -->
                <input formControlName="precio" type="number" class="form-control" id="precio"
                  placeholder="Ingrese el precio del producto" required>
                <div class="invalid-feedback">
                  El precio del producto <strong>es obligatorio.</strong>
                </div>
              </div>

              <div class="form-group text-start mb-3 has-validation">
                <label for="categoria">Categoría del Producto:</label>
                <select formControlName="categoria" class="form-select" id="categoria" required>
                  <option value=""></option>
                  <option value="indumentaria">Indumentaria</option>
                  <option value="tablas">Tablas</option>
                  <option value="lijas">Lijas</option>
                </select>
                <div class="invalid-feedback">
                  La categoría del producto <strong>es obligatorio.</strong>
                </div>
              </div>

              <div class="form-group text-start mb-3 d-flex justify-content-between align-content-around">
                <div *ngIf="categoriaActual === 'indumentaria'" formGroupName="tallas" class="form-group text-start mb-3">
                  <label class="fs-5 mb-4">Tallas</label>
                  <div class="form-group mb-3 d-flex flex-column">

                    <h3 for="">s</h3>
                    <input formControlName="s" type="number" class="form-control mb-3" >
                    <h3 for="">m</h3>
                    <input formControlName="m" type="number" class="form-control mb-3">
                    <h3 for="">l</h3>
                    <input formControlName="l" type="number" class="form-control mb-3">
                    <h3 for="">xl</h3>
                    <input formControlName="xl" type="number" class="form-control mb-3">
                  </div>
                </div>
                <div *ngIf="categoriaActual === 'tablas'" formArrayName="medidas" class="text-start">
                  <label class="fs-5 mb-4">Medidas</label>
                  <div class="form-group mb-3 d-flex flex-column">
                    <div class="contenedor-inputs mb-3">
                      <label>Mediano (5):</label>
                      <input type="number" class="form-control inputsTallesMedidas" formControlName="chico">
                    </div>
                    <div class="contenedor-inputs mb-3">
                      <label>Chico (8):</label>
                      <input type="number" class="form-control inputsTallesMedidas" formControlName="mediano">
                    </div>
                    <div class="contenedor-inputs">
                      <label>Grande (8.5):</label>
                      <input type="number" class="form-control inputsTallesMedidas" formControlName="grande">
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer mt-3 d-flex justify-content-between">
          <div>
            <!-- Boton modal para borrar producto -->
            <button type="button" data-bs-toggle="modal" data-bs-target="#eliminarproducto"
              class="btn btn-danger me-3">Deshabilitar producto</button>
            <!-- Modal -->
            <div class="modal fade" id="eliminarproducto" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">¿Desea borrar este producto?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-dark">
                    <p>Esta por borrar el producto {{productoActual.nombreProducto}}. ¿Desea continuar?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button (click)="deshabilitarProducto()" type="button" class="btn btn-primary">Borrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button routerLink="/administrador/productos" routerLinkActive="active" type="button"
              class="btn btn-secondary me-3 ">volver</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>