<div class="container iconos-home separador">
    <div class=" row justify-content-center" >
        <div class="col-4 text-center">
            <img src="../../../../assets/imagenes/21.png">
            <h5 class="fs-5 fw-bold text-white text-uppercase">
                Calidad garantizada
            </h5>
        </div>
        <div class="col-4 text-center">
            <img src="../../../../assets/imagenes/20.png">
            <h5 class="fs-5 fw-bold text-white text-uppercase">
                Envios a todo el pais
            </h5>
        </div>
        
    </div>
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <img src="../../../../assets/imagenes/19.png">
            <h5 class="fs-5 fw-bold text-white text-uppercase">
                Asesoramiento via WhatsApp
            </h5>
        </div>
        <div class="col-4 text-center">
            <img src="../../../../assets/imagenes/18.png">
            <h5 class="fs-5 fw-bold text-white text-uppercase">
                Puntos fisicos de entrega
            </h5>
        </div>
    </div>
</div>