<!-- FOOTER -->
<footer class="py-3 container-fluid bg-black">

    <div class="row d-flex justify-content-between me-3 ms-5">

        <div class="col-6 col-md-2 mb-3 text-white">
            <img src="../../../assets/imagenes/logo-kondur.png" alt="Logo Kondur" class="img-fluid" style="height: 170px;">
        </div>

        <div class="col-12 col-md-3 mb-3 text-white d-flex justify-content-between">

            <div>
                <h5 class="fw-bold">NAVEGACIÓN</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a routerLink="/home"  class="nav-link p-0 footer-link">Inicio</a></li>
                    <li class="nav-item mb-2"><a routerLink="/tienda" class="nav-link p-0 footer-link">Tienda</a></li>
                    <li class="nav-item mb-2"><a routerLink="/checks" class="nav-link p-0 footer-link">Checks</a></li>
                    <li class="nav-item mb-2"><a routerLink="/nosotros" class="nav-link p-0 footer-link">Nosotros</a></li>
                </ul>
            </div>
            <div>
                <h5 class="fw-bold">MEDIOS DE PAGO</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-link">Efectivo</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-link">Mercado Pago</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-link">Transferencias</a></li>
                </ul>
            </div>
        </div>


        <div class="col-6 col-md-2 mb-3 text-white">
            <h5 class="fw-bold">CONTACTANOS</h5>
            <ul class="nav flex-column">
                <li class="nav-item d-flex align-items-center">
                    <img src="../../../assets/imagenes/26.png" style="height: 40px;">
                    <p class="nav-link p-0 text-muted">38340000</p>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../../../assets/imagenes/25.png" style="height: 40px;">
                    <a class="nav-link p-0 text-muted">
                        
                        kondurskateboards@gmail.com
                    </a>
                </li>
                <li class="nav-item  d-flex align-items-center">
                    <img src="../../../assets/imagenes/24.png" style="height: 40px;">
                    <a class="nav-link p-0 text-muted">Direccion 000 - Cordoba</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../../../assets/imagenes/24.png" style="height: 40px;">
                    <a class="nav-link p-0 text-muted">Republica 219 - Chakru Multiespacio</a>
                </li>
            </ul>
        </div>

        <div class="col-6 col-md-2 mb-3 text-white">
            <h5 class="fw-bold">NUESTRAS REDES</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2 d-flex align-items-center">
                    <img src="../../../assets/imagenes/23.png" style="height: 40px;">
                    <a href="https://www.instagram.com/kondurskateboards/" class="nav-link p-0 footer-link">@kondurskateboards</a>
                </li>
                <li class="nav-item mb-2 d-flex align-items-center">
                    <img src="../../../assets/imagenes/22.png" style="height: 40px;">
                    <a href="https://www.facebook.com/KondurSkateboards/" class="nav-link p-0 footer-link">kondurskateboards</a>
                </li>
            </ul>
        </div>

    </div>

</footer>