<div class="container contenedor-iconos iconos-home separador">
    <div class="row justify-content-center">
        <div class="col-12 mb-5 col-md-6 d-flex align-items-center">
            <img src="../../../../assets/imagenes/alta-calidad.png" class="me-3" width="70">
            <div>
                <h5 class="fs-5 fw-bold text-white text-uppercase">
                    Calidad garantizada
                </h5>
                <p class="text-white">Ofrecemos productos de alta calidad para asegurar la satisfacción de nuestros clientes.</p>
            </div>
        </div>
        <div class="col-12 mb-5 col-md-6 d-flex align-items-center">
            <img src="../../../../assets/imagenes/paquete.png" class="me-3" width="70">
            <div>
                <h5 class="fs-5 fw-bold text-white text-uppercase">
                    Envios a todo el pais
                </h5>
                <p class="text-white">Enviamos nuestros productos a cualquier parte del país, para que puedas disfrutar de ellos donde sea que estés.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 mb-5 col-md-6 d-flex align-items-center">
            <img src="../../../../assets/imagenes/whatsapp.png" class="me-3" width="70">
            <div>
                <h5 class="fs-5 fw-bold text-white text-uppercase">
                    Asesoramiento via WhatsApp
                </h5>
                <p class="text-white">Contamos con un equipo de asesores que te brindará toda la información que necesites a través de WhatsApp.</p>
            </div>
        </div>
        <div class="col-12 mb-5 col-md-6 d-flex align-items-center">
            <img src="../../../../assets/imagenes/posicion.png" class="me-3" width="70">
            <div>
                <h5 class="fs-5 fw-bold text-white text-uppercase">
                    Puntos fisicos de entrega
                </h5>
                <p class="text-white">Disponemos de puntos físicos de entrega en distintas partes del país para que puedas recibir tus productos en persona.</p>
            </div>
        </div>
    </div>
</div>

  

