<app-header></app-header>
<div class="container-fluid h-100">
    <div class="row h-100 align-items-center">
        <div class="col bg-black justify-content-center h-100 d-flex align-items-center pt-5"> 
            <img class="logo-login opacity-75" src="../../../assets/imagenes/logo-kondur.png" alt="">
        </div>
        <div class="col fondo-formulario h-100 d-flex align-items-center justify-content-center">
           <div class="shadow-lg p-5 borde-formularios">
                <h2 class="fw-bold text-center">
                    <a class="text-decoration-none text-white text-uppercase" routerLink="./login.component.html" routerLinkActive="active">Ingresar</a>
                    |
                    <a class="text-decoration-none text-uppercase txt-registrarse" routerLink="/sesion/Register" routerLinkActive="active">Registrarse</a>
                </h2>
                <form class="form-floating ">
                    <div class="form-outline mb-4">
                        <label class="form-label text-light" for="validationDefault01">Usuario</label>
                        <input type="text" formControlName="usuario" id="validationDefault01" class="form-control form-control-lg" required/>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label text-light" for="form3Example4cg">Contraseña</label>
                        <input type="password" formControlName="contrasenia" class="form-control form-control-lg" required/>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-warning btn-block btn-lg gradient-custom-4 fw-bold btn-ingresar">
                            Iniciar Sesion
                        </button>   
                    </div>
                </form>
           </div>
        </div>
    </div>
</div>