<!-- DESTACADOS -->
<div class="container text-center">
    <h2 class="text-uppercase text-black fw-bold">
        Destacados
    </h2>
</div>
<div class="contenedor-novedades text-center m-auto d-flex justify-content-around align-items-center">          
    <div>
        <img src="../../../../assets/imagenes/remera-kondur-1.png" alt="" srcset="">
        <p>Remera Kondur</p>
        <p>Total White</p>
        <button class="btn btn-dark">
            Ver Más
        </button>
    </div>
    <div>
        <img src="../../../../assets/imagenes/remera-kondur-2.png" alt="" srcset="">
        <p>Remera Kondur</p>
        <p>Total Black</p>
        <button class="btn btn-dark">
            Ver Más
        </button>
    </div>
    <div>
        <img src="../../../../assets/imagenes/remera-kondur-3.png" alt="" srcset="">
        <p>Remera Kondur</p>
        <p>Total Gray</p>
        <button class="btn btn-dark">
            Ver Más
        </button>
    </div>  
</div>
<!-- <div class="container iconos-home mb-5">
    <div class=" row justify-content-center" >
        <div class="col-4 text-center">
            <img src="./img/21.png" alt="">
            <h5 class="fs-5 fw-bold text-white text-uppercase">
                Calidad garantizada
            </h5>
        </div>
        <div class="col-4 text-center">
            <img src="./img/20.png" alt="">
            <h5 class="fs-5 fw-bold text-white text-uppercase">
                Envios a todo el pais
            </h5>
        </div>
        
    </div>
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <img src="./img/19.png" alt="">
            <h5 class="fs-5 fw-bold text-white text-uppercase">
                Asesoramiento via WhatsApp
            </h5>
        </div>
        <div class="col-4 text-center">
            <img src="./img/18.png" alt="">
            <h5 class="fs-5 fw-bold text-white text-uppercase">
                Puntos fisicos de entrega
            </h5>
        </div>
    </div>
</div> -->
