<!-- DESTACADOS -->
<div class="container text-center">
    <h2 class="text-uppercase text-black fw-bold">
        Destacados
    </h2>
</div>
<div class="contenedor-novedades text-center m-auto d-flex justify-content-around align-items-center">          
    <div>
        <img src="../../../../assets/imagenes/remera-kondur-1.png" alt="" srcset="">
        <p>Remera Kondur</p>
        <p>Total White</p>
        <button class="btn btn-dark">
            Ver Más
        </button>
    </div>
    <div>
        <img src="../../../../assets/imagenes/remera-kondur-2.png" alt="" srcset="">
        <p>Remera Kondur</p>
        <p>Total Black</p>
        <button class="btn btn-dark">
            Ver Más
        </button>
    </div>
    <div>
        <img src="../../../../assets/imagenes/remera-kondur-3.png" alt="" srcset="">
        <p>Remera Kondur</p>
        <p>Total Gray</p>
        <button class="btn btn-dark">
            Ver Más
        </button>
    </div>  
</div>
