<div class="fondo-white">
    <div class="container mb-5">
        <h2 class="text-center text-uppercase fw-bold text-black titulo-team">Mi Perfil</h2>
        <div class="d-flex justify-content-between mt-3">
            <div>
                <div class="text-center">
                    <h2 class="fw-bold text-uppercase">Mis Datos</h2>
                </div>

                <div class="card bg-dark" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-light text-center mb-5">Regístrate</h2>
                        <form>
                            <div class="form-outline mb-4">
                                <label class="form-label text-light" for="form3Example1cg">Nombre completo</label>
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label text-light" for="form3Example3cg">Correo electronico</label>
                                <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label text-light" for="form3Example1cg">Usuario</label>
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg"/>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label text-light" for="form3Example4cg">Contraseña</label>
                                <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label text-light" for="form3Example4cdg">Repite tu contraseña</label>
                                <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                            </div>

                            <div class="form-check d-flex justify-content-center mb-5">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                <label class="form-check-label text-light" for="form2Example3g">
                                    Estoy de acuerdo con todos los <a href="#!" class="text-warning"><u>Terminos y servicios</u></a>
                                </label>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-warning btn-block btn-lg gradient-custom-4 fw-bold">
                                    Registrarse
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <div class="text-center">
                    <h2 class="fw-bold text-uppercase">Editar Datos</h2>
                </div>
                <div class="card bg-dark" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-light text-center mb-5">Regístrate</h2>
                        <form>
                            <div class="form-outline mb-4">
                                <label class="form-label text-light" for="form3Example1cg">Nombre completo</label>
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label text-light" for="form3Example3cg">Correo electronico</label>
                                <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label text-light" for="form3Example1cg">Usuario</label>
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg"/>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label text-light" for="form3Example4cg">Contraseña</label>
                                <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label text-light" for="form3Example4cdg">Repite tu contraseña</label>
                                <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                            </div>

                            <div class="form-check d-flex justify-content-center mb-5">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                <label class="form-check-label text-light" for="form2Example3g">
                                    Estoy de acuerdo con todos los <a href="#!" class="text-warning"><u>Terminos y servicios</u></a>
                                </label>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-warning btn-block btn-lg gradient-custom-4 fw-bold">
                                    Registrarse
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>